<jdbcusergroupservice>
  <id>72be526e:161026f4b01:-7ffc</id>
  <name>geonode_usergroup_service</name>
  <className>org.geoserver.security.jdbc.JDBCUserGroupService</className>
  <propertyFileNameDDL>usersddl.xml</propertyFileNameDDL>
  <propertyFileNameDML>usersdml.xml</propertyFileNameDML>
  <jndi>false</jndi>
  <driverClassName>org.sqlite.JDBC</driverClassName>
  <connectURL>jdbc:postgresql://postgres:5432/postgres</connectURL>
  <userName>postgres</userName>
  <password>crypt1:arYmRrY+qrsxlu04i6EcclHGLuNjqhV4</password>
  <creatingTables>true</creatingTables>
  <passwordEncoderName>digestPasswordEncoder</passwordEncoderName>
  <passwordPolicyName>default</passwordPolicyName>
</jdbcusergroupservice>