https://github.com/Geonode/geonode/archive/aa5932de85d9f126e3ff8dc9afbd0b73b1f9d9d5.zip # waiting for 2.6.4 branch (including thumbnail fix)

# Overrides because of loose Geonode dependencies
GDAL~=2.0.1 # Simply missing from Geonode
transifex-client==0.12.5 # fix because 0.13.0 requires python-slugify 1.6.4 which has a bug (shadows awesome 1.6.5)
django-autocomplete-light==2.3.3 # because of this in 2.3.6 : ImportError: No module named urls
lxml==3.6.2 # for fix https://github.com/GeoNode/geonode/commit/5e88f3d0d6601db5ca8099d28897098b125f01a6#diff-2eeaed663bd0d25b7e608891384b7298R53
pycsw==2.0.2 # fix exception when uploading layer : "ValueError: need more than 1 value to unpack pycsw/server.py", line 380
