<logoutFilter>
  <id>30cc3ff2:161026d41c7:-7fea</id>
  <name>formLogout</name>
  <className>org.geoserver.security.filter.GeoServerLogoutFilter</className>
  <redirectURL>/web/</redirectURL>
  <formLogoutChain>/j_spring_security_logout,/j_spring_security_logout/,/logout</formLogoutChain>
</logoutFilter>